*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  width: 100%;
  height:4em;
  background-color: rgb(95, 92, 92);
}

.heading-content{
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
.Brand-Logo{
    width:20%;
    /* background-color: tomato; */
}
.Brand-Logo h1{
  
  margin-left: 1em;
  margin-top: 0.46em;
  color: white;

}

.main-info{
  width: 80%;
  /* background-color: yellow; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-info ul li{
  display:inline-block;
  list-style: none;
  font-size: 1.2em;
  font-weight: bold;
  margin-left: 5em;  
}

.main-info ul li a{
  text-decoration: none;
  color: white;
}

.main-info ul li:hover a {
  color: orange;
}

.section_about{
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #87cefa,	#7eb9f5);
  /* opacity: .6; */
  /* padding: 15em 0; */
  clip-path: polygon(100% 0, 100% 75%,50% 100%,0 75%, 0 0);

}

.subHeader-title{
  font-size: 1em;
  text-transform: capitalize;
  /* font-size: 1em; */
  font-size: 1.5em;
  font-weight: bold;
  
  display: inline-block;
  margin-top: -10em;
  /* margin-left: 2em; */
  /* background-image: linear-gradient(to right, rgb(177, 243, 151), rgb(226, 131, 131));
  -webkit-background-clip:text;
  color: transparent; */
  color: white;
  font-family: 'Roboto Condensed', sans-serif;

  
  
}

.know_more{
  margin-top: 2em;
  display: flex;
  justify-content: space-evenly;
  padding:20px;

}

.know_more a {

  text-decoration: none;
    /* padding-left: 2em; */
    margin: 0 1em;
    /* padding: 1em 2em; */
    padding: 7px 10px;
    font-size: 0.9em;
    font-weight: 700;
    line-height: 1.4;
    outline: none;
    border: none;
    border: 2px solid #00ffff;
    border-radius: 15px;
    word-spacing: 4px;
    /* background:#e678bd; */
    background:#fff;
    color: #111;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
    font-family: 'Poppins',sans-serif;
  
}

.main_div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.about_div{
  width:280px;
  height:auto;
  border-radius: 16px;
  text-align: center;
  background-color:	#f8f8ff;
  transition: all .2s ease;
}

.about_div:hover{
  /* box-shadow: -1px 15px 15px -10px black; */
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
}

.about_div h3{
  text-transform: capitalize;
  font-weight: 700;
  font-size: 2em;
  padding: 5px 0 0 0 ;

}

.about_div h5{
  text-transform: capitalize;
  
  font-size: 1em;
  padding: 5px 0 0 0 ;

}

.about_div p{
  padding-top: 10px;
  color:#a5b1c2;
}

